fairseq
h5py
hydra-core
intervaltree
iopath
iterative_stratification
librosa
matplotlib
numpy
omegaconf
packaging
pandas
pyarrow
scikit_learn
scipy
seaborn
scikit-image
soundfile
tensorflow
timm
torch
torchaudio
tqdm